.u-tags-round {
    display: inline-block;
    padding: 0 10px;
    line-height: 2;
    border: 1px solid #bfbfbf;
    border-radius: 999em;
    font-size: 13px;
}
.u-line-eee {
    border: 0;
    border-top: 1px solid #eee;
}
