.m-enhanceButton {
	display: inline-block;
	width: 30px;
	height: 20px;
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
	outline: none;
	text-decoration: none;
	background: none;
	border: none;
}