.m-frame {
    .frame-introHead {

    }
    .frame-body-container {
        position: relative;
        background: #fff;
        z-index: 10;
    }
    .frame-body {
        display: flex;
        width: 90%;
        padding-top: 20px;
        margin: 0 auto;
        overflow: hidden;
        background: #fff;
        .body-content {
            flex: 1;
            // float: left;
            // width: 100%;
            // margin-right: 100px;
        }
        .body-sidebar {
            padding: 0 15px;
            flex-basis: 400px;
            // float: right;
        }
    }
    .frame-footer {
        
    }
}
