{
	"presets": ["es2015", "stage-1", "react"],
	"env": {
    "development": {
      "presets": ["react-hmre"]
    }
  },
	"plugins": [
		"react-hot-loader/babel",
		[
      		"babel-plugin-module-alias", [
		        {"src": "./src/client/component", "expose": "component"},
		        {"src": "./src/client/assets", "expose": "assets"},
		        {"src": "./node_modules/isomorphic-fetch", "expose": "fetch"}
      		]
    	],
    	"transform-decorators-legacy"

	],
	"ignore": [
		"client/assets/styles/*.scss"
	]
}