{
    "presets": ["es2015", "stage-1", "react"],
    "env": {
        "development": {
            "presets": ["react-hmre"],
            'plugins': [
                [
                    "flow-runtime", {
                        "assert": true,
                        "annotate": true
                    }
                ],
            ]
        },
        "production": {
            "presets": ["flow"]
        }
    },
    "plugins": [
        "react-hot-loader/babel",
        [
            "babel-plugin-module-alias", [
            {"src": "./node_modules/isomorphic-fetch", "expose": "fetch"}
            ]
        ],
        "transform-decorators-legacy"

    ],
    "ignore": [
        "client/assets/styles/*.scss"
    ]
}
