{
    "presets": ["es2015", "stage-1", "react"],
    "env": {
        "development": {
            "presets": ["react-hmre"]
        }
    },
    "plugins": [
        "react-hot-loader/babel",
    [
        "babel-plugin-module-alias", [
        {"src": "./src/app/components", "expose": "components"},
        {"src": "./src/app/assets", "expose": "assets"},
        {"src": "./node_modules/isomorphic-fetch", "expose": "fetch"},
        {"src": "./src/app/layouts", "expose": "layouts"},
        ]
    ],
    "transform-decorators-legacy"

    ],
    "ignore": [
        "client/assets/styles/*.scss"
    ]
}
