.m-nav {
    width: 40%;
    margin-left: 15%;
	overflow: hidden;
	color: #000;
	.link {
		float: left;
		width: 6rem;
		height: 4rem;
		line-height: 4rem;
		list-style: none;
		text-align: center;
		a {
            display: inline-block;
            width: 100%;
			cursor: pointer;
			font-size: 1.2rem;
			font-weight: 300;
            color: #fff;
		}
	}
	.link-active {
		a {
			// font-size: 
			color: red;
		}
	}
}
