.test {
    font-size: 30px;
}
.ttt {
    color: blue;
}
// :global {
    .tttxxxxx {
        color: blue;
} 
// }
.flex-justify-end {
   justify-content: flex-end; 
}
.label {
    margin-right: 14px;
}
.wrap {
    width: 300px;
    height: 100px;
    border: 1px solid red;
    cursor: pointer;
}
