$selectWidth: 211px;
$selectHeight: 24px;
$listBgColor: #fff;
$listItemBgColor: #ccc;
.m-select {
    position: relative;
    width: $selectWidth;
    height: $selectHeight;
    line-height: $selectHeight;
    // height: 20px;
    // line-height: 20px;
    border: 1px solid #e0dfe7;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
        border: 1px solid blue;
    }
    .select-text {
        box-sizing: border-box;
        padding-left: 14px;
        // border-bottom: 1px solid #e5e5e5;
        text-overflow: ellipsis;
        user-select: none;
        overflow: hidden;
        white-space: nowrap;
        .u-select-icon {
            position: absolute;
            right: 0;
            transform: scale(.6);
        } 
    }
    .select-list {
        position: absolute;
        top: 125%;
        width: $selectWidth;
        box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.12);
        border-radius: 3px;
        background-color: $listBgColor;
        z-index: 10;
        &.select-list-show {
            display: block;
        }
        &.select-list-hide {
            display: none;
        }
        .list-item {
            &:hover {
                cursor: pointer;
                background-color: $listItemBgColor;
            }
            .item-text {
                text-align: center;
            }
        }
    }
}
.u-select-icon {
    display: inline-block;
}
