.m-introHead {
	// position: relative;
	overflow: hidden;
	background-image: linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .75));
    .introHead-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        background: rgba(255,255,255,.2);
        &.introHead-nav-scroll {
            background: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,.1);
            a {
                color: #000;
            }
            .link-active {
                a {
                    color: red;
                }
            }
        }
    }
}
.m-intro {
	height: 24.5rem;
	overflow: hidden;
	text-align: center;
	.intro-bg {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 24.5rem;
		opacity: .25;
		background-color: gray;
        .bg-img {
            width: 100%;
            height: 100%;
            background-image: url(./images/topImage2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .bg-text {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, 0);
            .text-trickName {
                font-size: 3rem;
                font-weight: 200;
                color: #fff;
            }
            .text-motto {
                color: rgba(255,255,255,0.75);
            }
        }
	}
}
