.m-menu {
    .menu-item {
        position: relative;
        display: flex;
        flex: 1;
        justify-content: center;
        // line-height: 36px;
        font-size: 14px;
        color: #2D2D2D;
        cursor: pointer;
        .m-subMenu {
           position: absolute; 
           left: 0px;
           top: 100%;
        }
    } 
}
.m-menu {
    .menu-level1 {
        display: flex;
        flex-direction: row;
        width: 100%;  
        // height: 50px;
        > .menu-item {
            // line-height: 50px;
            // border-right: 1px solid #ececec;
            // &:last-child {
            //     border-right: none;
            // }
        }
    }
    .menu-level2 {
        width: 100%;
        border: 1px solid #ececec;
        border-radius: 4px;
        > .menu-item {
            // padding: 0 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: keep-all;
            white-space: nowrap;
            border-bottom: 1px solid #ececec;
            // .item-text {
            // }
            // &.list-item-icon {
            //     .icon {
            //         // line-height: 36px;
            //     }
            // }
        }
        // &::after {
        //     // content: '<i>123</i>';
        // }
    }
}
