.m-topic {
    width: 375px;
    margin: auto;
    border: 1px solid red;
    font-size: 0px;
    .topic-head {
        position: relative;
        padding: .38667rem .26667rem;
        color: red;
        .usr-icon {
            margin-right: .26667rem;
            border-radius: .05333rem;
            .icon-img {
                width: .9333rem;
                height: .9333rem;
            }
        }
        .usr-info {
            .usr-name {
                height: .56rem;
                line-height: .56rem;
                font-size: .37333rem;
                color: #333;                
            }
            .usr-pubTime {
                margin-top: .16rem;
                height: .26667rem;
                line-height: .26667rem;
                font-size: .26667rem;
                color: #999;
            }
        }
    }
}
.f-inline-block {
    display: inline-block;
}
.f-block {
    display: block;
}
