* {
    margin: 0px;
    padding: 0px;
}
.g-gird-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .gird-row {
        display: flex;
        flex-direction: column;
    }
}
