.m_tabs {
	.tabs_contentContainer {
		display: block;
		.tab_content {
			display: block;
			// display: none;
		}
		.tab_content-active {
			// display: block;
		}
	}
	.tabs_navContainer {
		display: block;
	}
}